
//color
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-white:#fff; 
$color-black:#000;
$color-light-grey:#eee;
$color-orange:orange;
$html-font-size:62.5%;


//grid

$gutter-vertical:2rem;
$gutter-horizontal:1.5rem;
$grid-width:90vw;


